body {
    background-color: #003262;
    font-family: Schibsted Grotesk, sans-serif;
    margin: 0;
    padding: 0;

}
/* .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
} */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    margin-top: 120px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


html {
    overflow: scroll;
}

.navbar-collapse {
    font-weight: 600;
    font-size: 16px;
}

.nav-link {
    color: #ffffff !important;
}

.navstart {
    color: #ffffff;
    margin-left: 170px;

}


.mainhedr {
    font-size: 96px;
    font-weight: 600;
    align-self: auto;
    line-height: 118.5px;
    color: #ffffff;
    margin-top: 160px;
    text-align: center;
    /* Ensures text alignment works on smaller screens */
}

.conimg {
    margin-top: 240px;
    margin-left: 80px;
    height: 120px;
    width: 120px;
}

#sec2txt {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
}

#collll {
    background-color: #335B81;
    width: 224px;
    height: 80px;
    margin: 0 auto;
    /* Center alignment */
}



div.scrollmenu {
    overflow: auto;
    white-space: nowrap;

}

#clientbox1 {
    height: auto;
    width: 365px;
    background-color: #335B81;
    color: #ffffff;
}

.clientbox11 {
    font-weight: 600;
    font-size: 32px;
}

.clientfir {
    font-weight: 400;
    font-size: 16px;
}

#client12 {
    width: 62px;
    height: 36px;
    border: #ffffff 1px solid;
    border-radius: 88px;
    font-size: 12px;
    font-weight: 400;
}
#client13{
    width: 75px; 
    height: 36px; 
    border: #ffffff 1px solid; 
    border-radius: 88px; 
    font-size: 12px; 
    font-weight: 400;
}
/* Responsive Styles */


@media (max-width: 1200px) {
    .mainhedr {
        font-size: 80px;
        line-height: 100px;
        margin-top: 120px;
    }

    .conimg {
        margin-top: 180px;
        margin-left: 40px;
        height: 100px;
        width: 100px;
    }

    #sec2txt {
        font-size: 28px;
        line-height: 42px;
    }

    #collll {
        width: 200px;
        height: 70px;
    }

    .navstart {
        color: #ffffff;
        margin-left: 0px;

    }

}

@media (max-width: 992px) {
    .mainhedr {
        font-size: 64px;
        line-height: 80px;
        margin-top: 100px;
    }

    .conimg {
        margin-top: 140px;
        margin-left: 20px;
        height: 80px;
        width: 80px;
    }

    #sec2txt {
        font-size: 24px;
        line-height: 36px;
    }

    #collll {
        width: 180px;
        height: 60px;
    }
}

@media (max-width: 768px) {
    .mainhedr {
        font-size: 48px;
        line-height: 58px;
        margin-top: 80px;
    }

    .conimg {
        margin-top: 120px;
        margin-left: 10px;
        height: 60px;
        width: 60px;
    }

    #sec2txt {
        font-size: 20px;
        line-height: 30px;
    }

    #collll {
        width: 150px;
        height: 50px;
    }

}

.aboutmin {
    font-weight: 600;
    font-size: 32px;
    color: #003262;
    width: 75%;
}

@media (max-width: 576px) {
    .mainhedr {
        font-size: 48px;
        line-height: 48px;
        margin-top: 60px;
        text-align: left;
        font-weight: 600;
    }

    .conimg {
        margin-top: 10px;
        margin-left: 0;
        height: 100px;
        width: 100px;

    }

    .aboutmin {
        font-size: 24px;
        line-height: 36px;
        font-weight: 600;
        width: 100%;
        color: #003262;
    }

    .aboutimg {
        display: none;
    }

    .aboutp2 {
        margin-top: 10px;
    }

    .clientp {
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;

    }

    #sec2txt {
        font-size: 24px;
        line-height: 36px;
        font-weight: 500;
    }

    #collll {
        width: 120px;
        height: 40px;
    }
}

.client-logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-content: center;
}

.client-logo {
    background-color: #1e5a87;
    /* Placeholder color for logos */
    width: 100%;
    aspect-ratio: 224 / 80;
    /* Maintain aspect ratio */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.client-logo span {
    color: white;
    font-weight: bold;
}

#clinetcol {
    width: 389px;
    height: 500px;
    background-color: #335B81;

}



.clientlast {
    margin-top: 120px;
    margin-bottom: 17px;
}

#clientp1 {
    width: 759px;
    height: 114px;
    font-size: 32px;

}

@media (max-width: 426px) {
    #clientp1 {
        width: 100%;
        height: 114px;
        font-size: 100%;
    }

    .recentp1 {
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
    }

}

@media (max-width: 420px) {

    .mainhedr {
        font-size: 38px;
        line-height: 48px;
        margin-top: 60px;
        text-align: left;
        font-weight: 500;
    }


    .clientlast {
        margin-top: 80px;
    }

    .recentp1 {
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
    }

    .framep1 {
        font-weight: 500;
        font-size: 40px;
    }

    .framep2 {
        font-weight: 500;
        font-size: 14px;
    }

    .grid-item {
        padding: 0px;
        width: 90px;
        height: 64px;
        background-color: #466995;
    }


}

.clientsec {
    margin-top: 120px;
}

.clientfir {
    margin-top: 120px;
    margin-bottom: 40px;
}


.footer {
    background-color: #002855;
    /* Navy blue color */
    color: white;
    padding: 15px 20px;
}

.footer .brand {}

.footer .social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.footer .social-links a:hover {
    text-decoration: underline;
}

.back-to-top {
    background-color: white;
    color: #002855;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.back-to-top:hover {
    background-color: #ddd;
}

@media (max-width: 768px) {
    .footer .social-links {
        margin-top: 10px;
    }

    .footer .back-to-top {
        margin-top: 10px;
    }

    #footerimg {
        margin-top: 20px;
        height: 20px;
        width: 20px;
    }

    #footerp {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }
}

@media(max-width:320px) {
    .framep1 {
        font-weight: 500;
        font-size: 40px;
    }

    .framep2 {
        font-weight: 500;
        font-size: 14px;
    }

    div.scrollmenu {
        overflow: auto;
        white-space: nowrap;
    }

    .footer .brand {}


    .footer .social-links a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
        font-weight: bold;
    }

    .footer .social-links a:hover {
        text-decoration: underline;
    }

    .back-to-top {
        background-color: white;
        color: #002855;
        font-weight: bold;
        padding: 5px 15px;
        border-radius: 25px;
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
    }


    .back-to-top:hover {
        background-color: #ddd;
    }

    #footerp {
        font-size: 10px;
        font-weight: 200;
        line-height: 30px;
    }


}

.grid-item {
    width: 100%;
    height: 50px;
    background-color: #466995;
}

@media (max-width: 360px) {
    #clientbox {
        margin-left: 0px;

    }
}



.small-header {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    
}

.main-heading {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 20px;
    background-color: #335B81;
}

.card {
    border: none;
    padding: 20px;
    background-color: #335B81;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
    background-color: #335B81;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    background-color: #335B81;
}

.tech-tags .badge {
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 5px;
   border: 1px solid #ffffff;

}

  